.Question-container {
    width: 70%;
    margin: 5px auto 5px;
    text-align: center;
    font-family: 'noto sans kr';
}

.Question-title{
    margin-bottom: 10px;
    font-weight: 500;
    opacity: 0.7;
}

.Question-info {
    width: 50%;
    margin: 0px auto;
    display: flex;
    text-align: left;
    margin-bottom: 5px;
}

.Question-info h2 {
    font-size: 1.3em;
    font-weight: 500;
}

.Question-profileimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.Question-nickname {
    margin-left: 10px;
    font-size: 1em;
    font-weight: 400;
   
}

.Question-form {
    width: 50%;
    margin: 0px auto;
    display: inline-block
}

.Question-content {
    display: grid;
    margin-bottom: 30px;
}

.Question-content textarea {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    outline: none;
    height: 415px;
}

.Question-button input {
    width: 80px;
    height: 40px;
    margin: 0 5px;
    font-size: 15px;
    font-weight: 600;
}

.Question-button input:first-child {
   background-color: white;
   border: 2px solid black;
   border-radius: 5px;
}

.Question-button input:last-child {
    background-color: white;
    border: 2px solid #ff4949;
    color: #ff4949;
    border-radius: 5px;
}

.Question-button input:first-child:hover {
    background-color: black;
    color: white;
}

.Question-button input:last-child:hover {
    background-color: #ff4949;
    color: white;
}
#adminQuestionOut-btn{
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid black;
    & .adminLinkBtn{
        color: black;
    }
}
