.body {
  box-sizing: border-box;
  margin: 0;
}

.table a,
.festivalReport a {
  text-decoration: none;
  color: black;
}

.table a:hover,
.festivalReport a:hover {
  text-decoration: underline;
}

.bar {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 35px;
}

.datailImg {
  width: 480px;
  height: 600px;
  object-fit: cover;
}

.imgAndInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.table {
  width: 60%;
}

.table table {
  width: 100%;
  border: 1px solid #fafafa;
  border-radius: 15px;
}

.table tr {
  width: 100%;
}

.table tr:first-child th,
.table2 tr:nth-child(odd) th {
  border-top-left-radius: 15px;
}

.table tr:first-child td,
.table2 tr:nth-child(odd) th {
  border-top-right-radius: 15px;
}

.table tr:last-child th {
  border-bottom-left-radius: 15px;
}

.table tr:last-child {
  border-bottom-right-radius: 15px;
}

.table tr:nth-child(odd),
.table2 tr:nth-child(odd) {
  background-color: #fafafa;
}
.table th,
.table td,
.table2 th,
.table2 td {
  padding: 16px 15px;
  font-size: 16px;
  font-weight: 400;
}

.table th {
  width: 30%;
  border-right: 1px solid #e9e9e9;
}

.table td {
  padding-left: 10px;
}

/* .table2 tr:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
} */

.table2 {
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 80px;
}

.table2 th {
  text-align: left;
}

.festivalReport {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .bar {
    margin-bottom: 25px;
  }

  .imgAndInfo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
  }

  .table {
    width: 100%;
  }

  .table th,
  .table td,
  .table2 th,
  .table2 td {
    font-size: 18px;
  }

  .table2 {
    margin-bottom: 50px;
  }

  .festivalReport {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .festivalReport a {
    font-size: 16px;
  }
}
