.likeContainer {
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: absolute;
  top: 320px;
  right: 15px;
  padding: 7px;
}

.likeStar {
  width: 100%;
  height: 100%;
  background-image: url('../img/star.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.likeStar.selLikestar {
  background-image: url('../img/selStar.svg');
}
