.reply * {
  box-sizing: border-box;
  margin: 0;
  font-family: 'NotoSansKR-VariableFont_wght';
}

.reply {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  /* margin-bottom: 35px; */
}

.reply::after {
  content: '';
  width: 90%;
  border-bottom: 1px solid #d9d9d9;
  margin: 35px auto;
}

.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userInfo strong {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}

.reply p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.reply span {
  font-size: 18px;
  font-weight: 400;
  opacity: 50%;
}

.replyBtn,
.reportBtn {
  position: absolute;
  top: 2px;
  right: 5px;
}

.replyBtn button,
.reportBtn button {
  font-size: 12px;
  font-weight: 400;
  opacity: 50%;
  padding: 4px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.replyBtn button:hover,
.reportBtn button:hover {
  background-color: #d9d9d9;
}

.replyBtn button:first-child {
  margin-right: 5px;
}

.reply textarea {
  width: 100%;
  height: 100px;
  font-size: 16px;
  padding: 10px 22px 10px 22px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  resize: none;
  outline: none;
  margin-bottom: 15px;
}

.editBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editBtn button {
  font-size: 14px;
  background-color: transparent;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.editBtn button:first-child {
  margin-right: 10px;
}

.editBtn button:last-child {
  color: #ff4949;
  border: 1px solid #ff4949;
}

.editBtn button:first-child:hover {
  color: white;
  background-color: black;
}

.editBtn button:last-child:hover {
  color: #fff;
  background-color: #ff4949;
}

@media screen and (max-width: 1000px) {
  .reply::after {
    margin: 20px auto;
  }

  .userImg {
    width: 35px;
    height: 35px;
  }

  .userInfo strong {
    font-size: 16px;
    margin-left: 12px;
  }

  .reply p {
    font-size: 16px;
    font-weight: 400;
  }

  .reply span {
    font-size: 14px;
  }

  .replyBtn button,
  .reportBtn button {
    font-size: 14px;
    padding: 5px;
  }

  .replyBtn button:first-child {
    margin-right: 10px;
  }

  .reply textarea {
    padding: 10px 22px 10px 22px;
    margin-bottom: 10px;
  }
}
