.simple-slider {
  box-sizing: border-box;
  margin: 0;
}

.simple-slider {
  position: relative;
  width: 40%;
  margin: 0 20px;
  overflow: hidden; /* 추가 */
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #bbb; /* 점의 기본 색상 */
  cursor: pointer;
}

.dot.active {
  background-color: #333; /* 활성화된 점의 색상 */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.slider-button.prev {
  background-image: url('../img/angle-left.svg');
  left: 0;
}

.slider-button.next {
  background-image: url('../img/angle-right.svg');
  right: 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  .simple-slider {
    width: 100%;
  }

  .slide {
    height: 400px;
    margin-bottom: 10px;
  }

  .slider-dots {
    margin-bottom: 20px;
  }

  .dot {
    width: 15px;
    height: 15px;
    margin: 0 8px;
  }

  .slider-button {
    width: 45px;
    height: 45px;
  }
}
