
.kakaomap {
    display: flex;
    justify-content: center;
}

.map {
    width: 70%;
    height: 400px;
    border-radius: 5px;
}

.map_button {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 510px;
    left: 72%;
}

.map_button span {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
    background-color: rgb(212, 212, 212);
    width: 40px;
    border-radius: 5px;
}

.map_button span:hover {
    cursor: pointer;
    background-color: rgb(205, 204, 204);
}

.map_button span:active {
    background-color: rgb(197, 196, 196);
}

.searchbar {
    position: relative;
    display: flex;
    justify-content: center;
}

.searchbar input{
    width: 60%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #000000;
}
