  .login-container {
    background-color: #fff;
    padding: 32px;
    width: 380px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-label {
    margin-bottom: 10px;
    position: relative;
    height: 38px;
  }

  .input-style {
    width: 100%;
    padding: 12px 10px;
    margin-top: 2px;
    border: 1px solid #242424;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .checkbox {
    width: 18px;
  }

  .login-span {
    margin-top: 0px;
    font-weight: bold;
  }
  
  .login-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .login-button:hover {
    background-color: #c8c8c8;
  }
  
  .label-container {
    display: flex;
    margin-top: 10px;
    white-space: nowrap;
    float: left;
  }

  .link-label {
    text-align: center;
    margin-top: 10px;
  }

  .error-message {
    font-size: 11px;
    color: red;
    font-weight: bold;
  }

