.PwReset-container {
  width: 80%;
  margin: 109px auto 120px;
  text-align: center;
  }

  .PwReset-title {
    width: 63%;
    margin: 0 auto 50px auto;
    font-size: 1.5em;
  }

  .PwReset-id {
    width: 272px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
  }
/*  */
  .PwReset-verificationCode {
    width: 116px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
  }

  .PwReset-password {
    width: 272px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
  }
  
  .PwReset-rePassword {
    width: 272px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
  }

  .PwReset-verificationCode-button {
    width: 100px;
    height: 41.5px;
    margin: 0 3px 0 3px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
}

  .PwReset-code-check-button {
    width: 50px;
    height: 41.5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
}

.PwReset-button:hover {
  background-color: black;
  color: white;
}

.PwReset-verificationCode-button:hover {
  background-color: black;
  color: white;
}

.PwReset-check-button:hover {
  background-color: black;
  color: white;
}

.PwReset-code-check-button:hover {
  background-color: black;
  color: white;
}

.PwReset-cencel-button {
    width: 70px;
    height: 41.5px;
    color: #FF4949;
    border: 2px solid #FF4949;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
}

.PwReset-cencel-button:hover {
  background-color: #FF4949;
  color: white;
}

.PwReset-check-button {
    width: 70px;
    height: 41.5px;
    margin: 0 3px 0 3px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
}

  .PwReset-errorMsg {
    width: 270px;
    height: 15px;
    color: red;
    font-size: 0.6em;
    font-weight: 600;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-right: 12px;
  }