.monthModalBack{
    /* height: 90%; */
    width: 100%;
    z-index: 100;
    background-color: #D3D3D390;
    /* position: relative; */
    /* top: -15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#monthModal{
    /* height: 90%; */
    width: 90%;
    border-radius: 15px;
    z-index: 150;
    background-color: white;
    /* position: absolute;
    top: 5%;
    left: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#monthModal table{
    /* height: 90%; */
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#monthModal table tr{
    flex-direction: row;
}
#monthModal table td{
    height: 16ex;
    border-radius: 15px;
    text-align: center;
    
}
.monthBtn{
    background: none;
    border: none;
    font-size: x-large;
    cursor: pointer;
}