#yearModalTable{
    height: 80%;
    /* width: 80%; */
    background-color: white;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.yearBlock{
    border-radius: 15px;
    height: 16ex;
}
.yearBtn{
    background: none;
    border: none;
    font-size: x-large;
    cursor: pointer;
    padding: 10px;
}